<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>etracker</title>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1>etracker: An experimental BitTorrent tracker</h1>

		<h3>About</h3>

		<p>etracker is an experimental BitTorrent tracker designed to incentivize good peer behavior by rewarding more peers to peers which seed more torrents. For more information, see <a href="https://github.com/dmoerner/etracker">Github</a>.</p>

		<p>etracker operates with an infohash allowlist. Do not send the operator of this site emails asking for infohashes to be added to the allowlist.</p>

		<h3>Statistics</h3>
		<ul>
			<li>Tracked infohashes: {{.HashCount}}</li>
			<li>Total Seeders: {{.Seeders}}</li>
			<li>Total Leechers: {{.Leechers}}</li>
		</ul>

		<h3>Announce URLs</h3>
		<ul>
			{{if .Tls}}
			<li><a href="#" id="httpsTracker">HTTPS tracker (recommended)</a></li>
			{{- end}}
			<li><a href="#" id="httpTracker">HTTP tracker</a></li>
		</ul>

		<script>
			const domain = window.location.hostname;

			const httpLink = document.getElementById('httpTracker');
			const httpAnnounce = 'http://' + domain + ':8080/announce';
			httpLink.href = httpAnnounce;
			httpLink.textContent = httpAnnounce;

			{{if .Tls}}
			const httpsLink = document.getElementById('httpsTracker');
			const httpsAnnounce = 'https://' + domain + ':8443/announce';
			httpsLink.href = httpsAnnounce;
			httpsLink.textContent = httpsAnnounce + ' (recommended)';
			{{- end}}
		</script>
	</body>
</html>
